body {
    font: 1em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-feature-settings: "kern", "liga";
    padding: 1rem;
    line-height: 1.45;
}

h1 {
    color: #00f;
}
